/*スマホ用*/
@media screen and (max-width : 770px) {
    body {     
        /*font-family: Lato;*/
        /*↑0221 変更*/
        font-family:"游ゴシック体", "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "YuGothic", "Meiryo", verdana, "Osaka", "MS PGothic", Sans-Serif;
        letter-spacing:1px;
        line-height:30px;
        font-size: 8pt;
    }
    .cover-image{
        max-height:800px;
    }
    #news{
        background-image:none;
        background-color: #FFF;
        color:#01044E;
    }

    #about_us{
        background-image:none;
        background-color: #FFF;
        color:#01044E;
    }

    #recruit{
        background-image:none;
        background-color:#01044E;
        color:#FFF;
    }

    .main_text{
        margin-top:25%;
        font-size:2.8em !important;
        letter-spacing:4px;
    }
    .sub_text{
        font-size:1.2em !important;
        letter-spacing:2px;
    }

    .table > tbody > tr > td{
        line-height: 2.5;
    }
    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .sub_section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .subsection_content{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size:8pt;
    }
    .backbox {
        font-size: 1.4em;
        width: 90%;
        left: 5%;
    }
    .top_message_section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .top_message_jap_name {
        letter-spacing: 4px;
        font-size: 15pt;
        color: #fff;
        padding-bottom: 8px;
    }
    .top_message_content {
        margin: 30px 10px 30px 0;
        line-height: 30px;
        text-align: left;
        color: #fff;
        font-size: 0.9em;
    }
    .visionsection_content {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 10pt;
        letter-spacing:0.5px;
    }
    .visionsection_content span {
        font-size: 11pt;
    }
    .style5_section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .style5_content{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .style5_content p{
        line-height:20px;
    }
    .system_section{
        padding-top:50px;
        padding-bottom:50px;
    }
    .system_content .backbox{
        padding-bottom:50px;
    }
    .system_content{
        padding-top:0px;
        padding-bottom:0px;
        line-height:30px;
    }
    .system_content p{
        margin-top:0px;
        margin-bottom:0px;
        line-height:30px;
    }
    .recruit_section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .partnership_section {
        color: #01044E;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height:20px;
    }
    .contact_section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer_section{
        padding-top: 50px;
        letter-spacing:1px;
    }
    .footer_comname{
        font-size: 20pt;
    }
    .lightbox_ts h2 {
        letter-spacing: 0.01em;
        font-size:13pt;
    }
    .lightbox_ts p {
        margin-top:20px;
        letter-spacing: 0.01em;
        line-height:20px;
    }
    .lightbox_its1 h2 {
        letter-spacing: 0.01em;
        font-size:15pt;
    }
    .lightbox_its1 p {
        margin-top:20px;
        letter-spacing: 0.01em;
        line-height:20px;
    }
    .lightbox_its2 img{
        width:100%;
        height:50%;
    }
    .lightbox_its2 p{
        line-height:20px;
    }
    .lightbox_reg h2{
        font-size:15pt;
    }
    .lightbox_reg h3{
        font-size:13pt;
    }
    .lightbox_reg p {
        line-height:20px;
    }
    .lightbox_own h2{
        font-size:15pt;
    }
    .lightbox_own h3{
        font-size:13pt;
    }
    .lightbox_own p {
        line-height:20px;
    }
    .lightbox_pp h2{
        font-size:13pt;
    }
    .lightbox_ssp h2{
        font-size:13pt;
    }
    .table_link{
        color: #337ab7;
    }

}/*@media screen(max-width:770px)*/
/*スマホ用ここまで*/