@import url('https://fonts.googleapis.com/css?family=Lato|Lato');

table {
	background-color: transparent;
}

th {
	text-align: left;
}
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 8px;
	line-height: 3;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.table > tbody + tbody {
	border-top: 2px solid #dddddd;
}
.table .table {
	background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 5px;
}
.table-bordered {
	border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
	background-color: #f5f5f5;
}
table col[class*="col-"] {
	position: static;
	float: none;
	display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
	position: static;
	float: none;
	display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
	background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
	background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
	background-color: #a3d7a3;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
	background-color: #91cf91;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
	background-color: #b0e1ef;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
	background-color: #9bd8eb;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
	background-color: #f8d9ac;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
	background-color: #f6ce95;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
	background-color: #eba5a3;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
	background-color: #e7908e;
}
.table-responsive {
	overflow-x: auto;
	min-height: 0.01%;
}
@media screen and (max-width: 767px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #dddddd;
	}
	.table-responsive > .table {
		margin-bottom: 0;
	}
	.table-responsive > .table > thead > tr > th,
	.table-responsive > .table > tbody > tr > th,
	.table-responsive > .table > tfoot > tr > th,
	.table-responsive > .table > thead > tr > td,
	.table-responsive > .table > tbody > tr > td,
	.table-responsive > .table > tfoot > tr > td {
		white-space: nowrap;
	}
	.table-responsive > .table-bordered {
		border: 0;
	}
	.table-responsive > .table-bordered > thead > tr > th:first-child,
	.table-responsive > .table-bordered > tbody > tr > th:first-child,
	.table-responsive > .table-bordered > tfoot > tr > th:first-child,
	.table-responsive > .table-bordered > thead > tr > td:first-child,
	.table-responsive > .table-bordered > tbody > tr > td:first-child,
	.table-responsive > .table-bordered > tfoot > tr > td:first-child {
		border-left: 0;
	}
	.table-responsive > .table-bordered > thead > tr > th:last-child,
	.table-responsive > .table-bordered > tbody > tr > th:last-child,
	.table-responsive > .table-bordered > tfoot > tr > th:last-child,
	.table-responsive > .table-bordered > thead > tr > td:last-child,
	.table-responsive > .table-bordered > tbody > tr > td:last-child,
	.table-responsive > .table-bordered > tfoot > tr > td:last-child {
		border-right: 0;
	}
	.table-responsive > .table-bordered > tbody > tr:last-child > th,
	.table-responsive > .table-bordered > tfoot > tr:last-child > th,
	.table-responsive > .table-bordered > tbody > tr:last-child > td,
	.table-responsive > .table-bordered > tfoot > tr:last-child > td {
		border-bottom: 0;
	}
}


.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
}

html,
body {
	height: 100%;
}
.cover {
	padding: 30px 15px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #eeeeee;
	margin-bottom: 0px !important;
	padding: 0px 0px;
	background-color: transparent;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	min-height: 100%;
}
.cover h1,
.cover .h1 {
	color: inherit;
}
.cover p {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
}
.cover > hr {
	border-top-color: #d5d5d5;
}
.container .cover,
.container-fluid .cover {
	border-radius: 5px;
}
.cover .container {
	max-width: 100%;
}
@media screen and (min-width: 768px) {
	.cover {
		padding: 48px 0;
	}
	.container .cover,
	.container-fluid .cover {
		padding-left: 60px;
		padding-right: 60px;
	}
	.cover h1,
	.cover .h1 {
		font-size: 63px;
	}
}
.cover h1.text-primary {
	color: #337cbb !important;
}
.cover h1.text-inverse {
	color: #ffffff !important;
}
.cover h1.text-info {
	color: #5bc0de !important;
}
.cover h1.text-success {
	color: #5cb85c !important;
}
.cover h1.text-warning {
	color: #f0ad4e !important;
}
.cover h1.text-danger {
	color: #d9534f !important;
}
@media screen and (min-width: 768px) {
	.cover {
		padding: 0px;
	}
	.container .cover,
	.container-fluid .cover {
		padding-left: 0px;
		padding-right: 0px;
	}
}
.cover .navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: transparent;
}
.cover .navbar .navbar-nav li.active a {
	background-color: transparent !important;
}
.cover .navbar .navbar-toggle {
	border-color: transparent;
}
.cover .navbar .navbar-toggle:hover,
.cover .navbar .navbar-toggle:focus {
	background-color: transparent;
}
.cover .navbar .navbar-toggle .icon-bar {
	background-color: #000000;
}
.cover .navbar.navbar-inverse .navbar-toggle {
	border-color: transparent;
}
.cover .navbar.navbar-inverse .navbar-toggle:hover,
.cover .navbar.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}
.cover .navbar.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.cover .cover-image {
	z-index: -1;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.cover .cover-image.background-image-fixed,
.cover .cover-image.cover-image-fixed {
	background-attachment: fixed;
}
/* PINGENDO COMMENT DO NOT REMOVE */
.navbar{
	font-size:100%;
	display:block;
	position:fixed;
	width:100%;
	/*background-color: #003366;/*#000055;*/
	height:60px;
	padding-top:10px;
	padding-left:0px;
	padding-right:0px;
	z-index:1000;
}
.navbar-brand{
		cursor: pointer;
		font-family:'Rokkitt';,serif;
		font-size:30pt;
		color:#ffffff;
}
.navbar-brand:hober{
		color:#003366;
}
.nav li a {
		color:#ffffff;
		z-index:100;
}
.nav li a:hover{
		color:#003366;
}

.row{
	margin-left:3% !important;
	margin-right:3% !important;
}

.navbar {
	font-size:100%;
	display:block;
	position:fixed;
	width:100%;
	opacity:1.0;
	/*background-color: #003366;/*#000055;*/
	border-radius:0;
	height:60px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	z-index:1000;
}
.mainMenu{
	border-bottom: solid 1.5px rgba(255,255,255,0.2);
	/*border-bottom: solid 1.0px rgba(0,51,102,0.7) !important*/
}
.mainMenuScroll{
	background-color:white;
	border-bottom: solid 1.0px #01044E !important;
}


/*.navbar-nav .nav li a{
	color:black;
}*/
section.full-height {
		height: 650px;
}
.full-height {
	 height: 100%;
}
.bg-img {
		background-size: cover;
		background-position: center;
}
.bg-black {
		color: ;
}
.bg-black {
		background-color: rgba(240,240,240,0.75);
}





/* Tablet */
@media screen and (max-width: 1024px) {

	#logo {
		width: 100%;
		text-align: center;
	}

	#nav {
		width:100%;
		text-align:center;
		margin:10px 0;
	}

	.navigation{
		width: 100%;
		float: center;
		list-style: none;
		margin: 0;
		padding:0;
	}

	.navigation li{
		float: left;
		width:25%;
		padding:0;
	}


	#decorative {
		display:none;
	}

	#content {
		text-align:center;
		width:100%;
	}


	}




	/* Mobile */
	@media screen and (max-width: 480px) {

	#logo {
		width: 100%;
		text-align: center;
	}

	#nav {
		width:100%;
		margin:5px 0;
	}

	.navigation{
		width: 100%;
		float: left;
		list-style: none;
		margin: 0;
		padding:0;
	}

	.navigation li{
		float: left;
		width:25%;
	}

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}


}
		@font-face {
			font-family: "Yu Gothic";
			src: local("Yu Gothic Medium");
			font-weight: 100;
		}
		@font-face {
			font-family: "Yu Gothic";
			src: local("Yu Gothic Medium");
			font-weight: 200;
		}
		@font-face {
			font-family: "Yu Gothic";
			src: local("Yu Gothic Medium");
			font-weight: 300;
		}
		@font-face {
			font-family: "Yu Gothic";
			src: local("Yu Gothic Medium");
			font-weight: 400;
		}
		@font-face {
			font-family: "Yu Gothic";
			src: local("Yu Gothic Bold");
			font-weight: bold;
		}
		html {
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
		}

		@supports (-ms-accelerator:true){
			body{
				font-family :"游ゴシック体", "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "YuGothic", "Meiryo", verdana, "Osaka", "MS PGothic", Sans-Serif;
			}
		}
		body {
			
			/*font-family: Lato;*/
			/*↑0221 変更*/
			font-family:"游ゴシック体", "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", "YuGothic", "Meiryo", verdana, "Osaka", "MS PGothic", Sans-Serif;
			letter-spacing: 0.4em;
			font-size: 12pt;
			line-height:35px;
			color: #000000;
			background-color: #ffffff;

		}
		i.fsDefault{
				font-size:32pt !important;
		}
		#navi {
			position: relative;
			margin: 1em 0;
			height: 20px;
		}
		#menu {
			display: block;
			height: auto;
			margin: 0;
			padding: 0;
		}
		#menu li {
			float: left;
			width: 20%;
			text-align: center;
			position: relative;  /*z-indexの指定や子要素の基準とするために指定*/
			z-index: 1;  /*ドロップダウンしたメニューが隠れないように*/
		}
		#menu li a {
			padding: 0 20px 10px;
			border-top: none;
			border-right: none;
			background: none;
			color: #555555;
			display: inline-block;
			margin: auto;
			text-shadow: -1px 1px rgba(255, 255, 255, 0.8);
		}
		#menu li a:hover {
			background: none;
			color: #97C1F3;
		}
		#menu li a:active {
			color: #5687F8;
		}
		#menu li ul.sub-menu {
			display: none;  /*サブメニューは最初は非表示にしておく*/
			position: absolute;  /*絶対配置にしておかないとうまくいかない*/
			top: 2em;
			left: 30%;
		}
		#menu li:hover ul.sub-menu {
			display: block;    /*マウスオーバー時にサブメニューを表示する*/
		}
		#menu li ul.sub-menu li {
			float: none;  /*サブメニューはフロートさせないので解除*/
		}
		 
		/*背景色などのカスタマイズ*/
		.slicknav_nav li {
			border-top: 1px solid #3362B3;
		}
		.slicknav_menu {
				text-align:right;
				background-color: #01044E !important;
				border-bottom:1px solid #FFF;
		}
		.slicknav_menu .slicknav_icon-bar {
			background-color: #97C1F3 !important;
		}
		.slicknav_menu a:hover {
			color: #85A8FB !important;
		}
		.slicknav_btn {
			background-color: #01044E !important;
		}
		.slicknav_nav .slicknav_row:hover {
			background: #01044E !important;
		}
		.slicknav_nav a:hover {
			background: #01044E !important;
		}
		i.fa {
			font-size: 18px;
		}
		i.fa.fa-caret-right {
			display: none;
		}
		#menu {
			display: none;
		}
		.shortMenu {
				display: none;
		}

		@media screen and (max-width : 770px) {
			#content {
				margin: 0;
			}
			.shortMenu {
				display: block;
				background-color:transparent !important;
			}
			.slicknav_menu {
				display: block;
			}
			.wideMenu{
				display: none;
			}
			i.fa.fa-caret-right {
				font-size: 14px;
				display: inline-block;
			}
		}

		.font_white{
				color:#fff;
		}
		.slide{
				background-attachment: fixed;
				width:100%;
				position: relative;
				padding:150px 0;
		}

		#news{
				top: 0px;
				width: 100%;
				height: 100%;
				background-image:url(../img/sec_news_bg.jpg);
				color:white;
				background-size: cover;
				background-position: center;
				min-height: 100%;
		}

		#about_us{
				top: 0px;
				width: 100%;
				height: 100%;
				background-image:url(../img/sec_aboutus_bg.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				color:white;
				min-height: 100%;
		}

		#recruit{
				top: 0px;
				width: 100%;
				height: 100%;
				background-image:url(../img/sec_recruit_bg.jpg);
				background-repeat:  no-repeat;
				background-size: cover;
				background-position: center;
				min-height: 100%;
		}
		.main_text{
				color:#01044E;
				font-size:4.0em !important;
				letter-spacing:4px;
				display:inline-block;
		}
		.sub_text{
				color:#01044E;
				font-size:1.5em !important;
				font-size:30px;
				letter-spacing:2px;
				display:inline-block;
		}

		.nav{
				letter-spacing:2px;
		}


		/*ここから各sectionのCSS*/
		.newsSec{
				background-attachment: fixed;
				padding-top:100px;
				padding-bottom:100px;
				color:#01044E;
		}
		.serviceMainSec{
				padding-top:100px;
				padding-bottom:100px;
				color:white;
				background-color:#01044E;/*#3CA89F;*/
		}
		.serviceSubSec{
				padding-top:100px;
				padding-bottom:100px;
				color:#01044E;/*#3CA89F;*/
				background-color:#fff;
		}
		.aboutUsSec{
				background-attachment: fixed;
				padding-top:100px;
				padding-bottom:100px;
				color:#01044E;
		}
		.topMessageSec{
				height:100%;
				padding-top:100px;
				padding-bottom:100px;
				background-color:#01044E;/*#0E7AC4;*/
		}
		.visionSec{
				padding-top:100px;
				padding-bottom:100px;
				background-color:#fff;
		}
		.style5Sec{
				padding-top:150px;
				padding-bottom:150px;
				color:#01044E;
				background-color:#01044E;
		}
		.system_section{
				color:#01044E;
				padding-top:150px;
				padding-bottom:150px;
				background-color:#fff;
		}
		.recruitSec{
				background-attachment: fixed;
				padding-top:150px;
				padding-bottom:150px;
				color:#FFF;
		}
		.partnerSec{
				color:#01044E;
				padding-top:100px;
				padding-bottom:100px;
		}
		.contactSec{
				background-color:#ECEEF1;
				padding-top:100px;
				padding-bottom:100px;
				color:#01044E;
		}
		.footerSec{
				padding-top:100px;
				background-color:#01044E;
				letter-spacing:3px;
		}

		.section_title{
				letter-spacing:0.1em;
				font-family:'Lato';
				text-align:center;
				font-size:2.2em;
		}

		.subsection_title{
				margin:30px 0 0;
				text-align:center;
				font-size:1.6em;
				letter-spacing:0.1em;
				font-family:'Lato';
		}
		.subsection_subtitle{
				text-align:center;
				font-size:0.8em;
				letter-spacing:0.1em;
		}

		.visionsection_title{
				margin-bottom:45px;
				text-align:center;
				color:#08233E;
				font-family:'Lato';
				font-size:1.3em;
				font-weight:bold;
		}
		.style5_title{
				margin-bottom:55px;
				text-align:center;
				font-size:40pt;
				font-weight:bold;
				color:#fff;
		}
		.partnership_title{
				text-align:center;
				font-size:35pt;
		}

		.section_content{
				text-align:center;
				/*font-size:15pt;*/
		}
		.subsection_content{
				margin-top:40px;
				margin-bottom: 40px;
				text-align:center;
				font-size:11pt;
		}
		.top_message_eng_name{
				text-align:left;
				font-size:0.8em;
				letter-spacing: 0.1em;
				color:#fff;
				margin:50px 0 0;
				padding:;
		}
		.top_message_jap_name{
				margin:0px 0px 0px;
				padding-left:0;
				padding-bottom:15px;
				text-align:left;
				letter-spacing:4px;
				font-size:20pt;
				color:#fff;
				border-bottom:1px solid #FFF;
		}
		.top_message_subname{
				text-align:left;
				font-weight:bold;
				font-size:0.5em;
				letter-spacing: 0.1em;
				color:#5bc0de;
				margin:50px 5% 0;
		}

		.top_message_content{
				margin:3.0em 10px 70px 0;
				line-height:30px;
				text-align:left;
				color:#fff;
				font-size:0.9em;
		}
		.visionsection_content{
				margin-top:70px;
				margin-bottom:70px;
				text-align:center;
				font-size:25pt;
				font-weight:bold;
		}
		.visionsection_content span{
				font-size:30pt;
				color:#EB2142;
		}

		.style5_content{
				text-align:center;
				line-height:60px;
				color:#FFF;
				padding-top:50px;
				padding-bottom:50px;
		}

		.style5_content p{
				text-align:center;
				margin-top:50px;
				margin-bottom:30px;
				line-height:40px;
		}
		.system_content{
				text-align:center;
				line-height:60px;
				padding-top:50px;
				padding-bottom:50px;
		}

		.system_content p{
				text-align:center;
				margin-top:50px;
				margin-bottom:30px;
				line-height:40px;
		}

		.recruit_content{
				margin-top:50px;
				margin-bottom:100px;
				text-align:center;
		}
		.partnership_content{
				padding-top:10px;
				text-align:center;
		}
		.footer_comname{

		}
		.footer_comaddress{

		}
		.footer_copyright{
				text-align:right;
		}
		.table{
				/*font-size:13pt;*/
		}
		.table_link{
			color: #fff;
			text-decoration: underline;
		}
		.table_link:hover{
			color: #01044E;
			text-decoration: none;
		}

		/*ここまで各sectionのCSS*/

/*CharaContents サブ標題背景*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

/* The following is all you really need for the effect to work */
.backbox {
	font-family: "Josefin Slab";
	text-transform: uppercase;
	font-size: 2.0em;
	color: white;
	width: 75%;
	position: relative;
	left: 12.5%;
	top: 3rem;
	text-align: center;
	padding: 0.0625rem;
	position: relative;
}
/*ここまで*/
/*Contactアイコンここから*/
		.icon_block{
				margin:auto;
				margin-top:30px;
				width:200px;
				height:200px;
				opacity:1;
				border-radius:100px;
				text-align:center;
				background-color:#01044E;
		}
		.icon_block a{
				width:200px;
				height:200px;
		}
		.icon_block a span{
				margin:22px;
				width:160px;
				height:160px;
				font-size:113pt;
				color:white;
		}
		.icon_block span{
				margin:22px;
				width:160px;
				height:160px;
				font-size:113pt;
				color:white;
		}
		.icon_comment{
				margin-top:30px;
				text-align:center;
				opacity:0;
				font-family:'Helvetica';
				font-size:10pt;
				font-weight:bold;
		}
		/*Contactアイコンここまで*/
		/*ここから_各ボタンのレイアウト*/
		.button1 a:hover{
				cursor:pointer;
				text-decoration:none;
		}

		.button2 a:hover{
				cursor:pointer;
				text-decoration:none;
		}

		.button3 a:hover{
				cursor:pointer;
				text-decoration:none;
		}
		/*service_subsection*/
		.button1 a{
				cursor:pointer;
				text-decoration:none;
				font-size:1.2em;
				letter-spacing:0.1em;
				color:#08233E;/*#3CA89F;*/
				border:2px solid #08233E;/*#3CA89F;*/
				padding:10px 20px;
				width:150px;
				height:50px;
				text-align:center;
				white-space:nowrap;
		}
		.button2 a{
				cursor:pointer;
				text-decoration:none;
				font-size:1.1em;
				letter-spacing:0.1em;
				color:white;
				border:2px solid white;
				padding:10px 20px;
				width:150px;
				height:50px;
				text-align:center;
				white-space:nowrap;
		}
		.button3 a{
				cursor:pointer;
				text-decoration:none;
				font-size:1.1em;
				letter-spacing:0.1em;
				color:black;
				border:1px solid black;
				padding:10px 20px;
				width:150px;
				height:50px;
				text-align:center;
				white-space:nowrap;
		}
		/*ここまで_各ボタンのレイアウト*/
		/*ここから_modalウィンドウのレイアウト*/
		.lightbox_map {
				display: none;
				padding: 10px;
				width:100%;
				height:100%;
		}
		.lightbox_ts {
				display: none;
				text-align:center;
				margin: 30px;
		}
		.lightbox_ts h2{
				letter-spacing:0.01em;
		}
		.lightbox_ts p{
				text-align:center;
				margin-top:50px;
				line-height: 40px;
		}

		.lightbox_its1 {
				display: none;
				margin: 30px;
		}

		.lightbox_its1 h2 {
				text-align: left;
				letter-spacing:0.01em;
		}

		.lightbox_its1 p {
				text-align: left;
				line-height: 40px;
		}
		.lightbox_its2 {
				display: none;
				padding: 10px;
		}
		.lightbox_its2 p{
				float:right;
				text-align: left;
				line-height:30px;
				letter-spacing:0.1em;
		}
		.lightbox_web1 {
				display: none;
				padding: 10px;
		}
		.lightbox_web1 p {
				text-align: left;
				line-height: 40px;
		}
		.lightbox_reg {
				display: none;
				padding: 10px;
		}
		.lightbox_reg p {
				letter-spacing:0.1em;
				margin-top:20px;
			}
		.lightbox_own {
				display: none;
				padding: 10px;
		}
		.lightbox_own p {
				letter-spacing:0.1em;
				line-height:30px;
				margin-top:20px;
		}
		.lightbox_pp {
				letter-spacing:0.1em;
				display: none;
				padding: 10px;
		}
		.lightbox_ssp {
				letter-spacing:0.1em;
				display: none;
				padding: 10px;
		}
		/*ここまで_modalウィンドウのレイアウト*/


		dl.taigu dt{
				float:left;

		}
		a.pp_link{
			cursor: pointer;
		}
		a.pp_link:hover, focus{
				color:#FFF;
		}

		a.sp_link{
			cursor: pointer;
		}
		a.sp_link:hover{
				color:#FFF;
		}
		a.sns_link{
			color: #fff;
		}
		a.sns_link{
			color: #fff;
		}
		a.sns_link:hover{
			color: #337ab7;
		}
#scene {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
}
		#scene > li {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
		}

		.banner-space a:hover{
				display: inline-block;
				animation: hurueru .3s  infinite;
		}

		@keyframes hurueru {
				0% {transform: translate(0px, 0px) rotateZ(0deg)}
				25% {transform: translate(2px, 2px) rotateZ(1deg)}
				50% {transform: translate(0px, 2px) rotateZ(0deg)}
				75% {transform: translate(2px, 0px) rotateZ(-1deg)}
				100% {transform: translate(0px, 0px) rotateZ(0deg)}
		}
