/*スマホ用*/
@media screen and (max-width : 770px) {
    .main_text{
        font-size:80px;
        letter-spacing:4px;
        display:inline-block;
    }
    .sub_text{
        font-size:30px;
        letter-spacing:2px;
        display:inline-block;
    }
    /*ここから各sectionのCSS*/
    .section{
        padding-top:30px;
        padding-bottom:30px;
    }
    .service_section{
        padding-top:20px;
        padding-bottom:20px;
        color:white;
        background-color:#3CA89F;
    }
    .sub_section{
        padding-top:0px;
        padding-bottom:10px;
        color:#3CA89F;
        background-color:#fff;
    }
    .top_message_section{
        padding-top:30px;
        padding-bottom:30px;
        background-color:#0E7AC4;
    }
    .vision_section{
        padding-top:20px;
        padding-bottom:20px;
        background-color:#fff;
    }
    .style5_section{
        padding-top:30px;
        padding-bottom:30px;
        background-color:#08233E;
    }
    .recruit_section{
        height:100%;
        padding-top:50px;
        padding-bottom:0px;
        background-color:#16A6B6;
        color:#fff;
    }
    .partnership_section{
        height:100%;
        padding-top:30px;
        padding-bottom:60px;
    }
    .contact_section{
        padding-top:30px;
        padding-bottom:15px;
        background-color:#ECEEF1;
    }
    .footer_section{
        padding-top:30px;
        padding-bottom:30px;
        background-color:#2C5379;
    }

    .section_title{
        margin-bottom:0px;
        font-family:'Lato';
        text-align:center;
        font-size:1.6em;
    }
    .subsection_title{
        margin-bottom:0px;
        text-align:center;
        /*font-size:15pt;*/
    }
    .subsection_subtitle{
        text-align:center;
        /*font-size:6pt;*/
    }
    .topmessage_section_title{
        margin-bottom:30px;
        text-align:center;
        font-size:20pt;
    }
    .visionsection_title{
        margin-bottom:20px;
        text-align:center;
        color:#08233E;
        font-size:20pt;
        font-weight:bold;
    }
    .style5_title{
        margin-bottom:20px;
        text-align:center;
        font-size:20pt;
        font-weight:bold;
        color:#fff;
    }
    .partnership_title{
        text-align:center;
        font-size:20pt;
    }

    .section_content{
        text-align:center;
        font-size:8pt;
    }
    .subsection_content{
        text-align:center;
        font-size:8pt;
    }
    .top_message_eng_name{
        text-align:left;
        font-size:8pt;
        color:#fff;
    }
    .top_message_jap_name{
        text-align:left;
        line-height:8px;
        letter-spacing:4px;
        font-weight:bold;
        font-size:12pt;
        color:#fff;
    }
    .top_message_subname{
        line-height:8px;
        text-align:left;
        font-weight:bold;
        font-size:6pt;
        color:#5bc0de;
    }

    .top_message_content{
        margin-top:30px;
        text-align:left;
        letter-spacing:2px;
        line-height:20px;
        font-size:10pt;
        color:#fff;
    }
    .visionsection_content{
        margin-bottom:30px;
        text-align:center;
        font-size:9pt;
        font-weight:bold;
    }
    .visionsection_content span{
        font-size:11pt;
        color:#EB2142;
    }
    .style5_content{
        text-align:center;
        font-size:9pt;
        color:#FFFFFF;
    }
    .style5_content h5{
        margin-top:5px;
        margin-bottom:15px;
        font-size:11pt;
    }
    .style5_content h5 span{
        color:#02AEDC;
        font-weight:bold;
    }
    .style5_content p{
        margin-bottom:30px;
        line-height:25px;
    }
    .recruit_content{
        margin-bottom:30px;
        text-align:center;
        font-size:9pt;
    }
    .partnership_content{
        /*padding:10px 30px;*/
        line-height:25px;
        text-align:center;
        font-size:8pt;
    }
    /*
    .partnership_content br{
        display:none;
    }
    */
    .table{
        font-size:8pt;
    }
    section.full-height{
        height:330px;
    }
    .footer_comname{
        font-size:23pt;
    }
    .footer_comaddress{
        font-size:10pt;
    }
    .footer_copyright{
        text-align:right;
        font-size:8pt;
    }
    /*ここまで各sectionのCSS*/
    
    /*Contactアイコンここから*/
    .icon_block{
        margin:auto;
        margin-top:10px;
        width:120px;
        height:120px;
        opacity:0.7;
        border-radius:100px;
        text-align:center;
        background-color:#003366;
    }
    .icon_block a{
        width:120px;
        height:120px;
    }
    .icon_block a span{
        margin:10px;
        width:100px;
        height:100px;
        font-size:69pt;
        color:white;
    }
    .icon_block span{
        margin:10px;
        width:100px;
        height:100px;
        font-size:69pt;
        color:white;
    }
    .icon_comment{
        margin-top:20px;
        text-align:center;
        opacity:0;
        font-family:'Helvetica';
        font-size:8pt;
        font-weight:bold;
    }
    /*Contactアイコンここまで*/
    /*ここから_各ボタンのレイアウト*/
    .button1 a:hover{
        cursor:pointer;
        text-decoration:none;
    }

    .button2 a:hover{
        cursor:pointer;
        text-decoration:none;
    }

    .button3 a:hover{
        cursor:pointer;
        text-decoration:none;
    }
    .button1 a{
        cursor:pointer;
        text-decoration:none;
        font-size:10pt;
        color:#3CA89F;
        border:2px solid #3CA89F;
        padding:7px 10px;
        width:130px;
        height:50px;
        text-align:center;
    }
    .button2 a{
        cursor:pointer;
        text-decoration:none;
        font-size:10pt;
        color:white;
        border:2px solid white;
        padding:7px 10px;
        width:130px;
        height:50px;
        text-align:center;
    }
    .button3 a{
        cursor:pointer;
        text-decoration:none;
        font-size:10pt;
        color:black;
        border:1px solid black;
        padding:10px 20px;
        width:150px;
        height:50px;
        text-align:center;
    }
    /*ここまで_各ボタンのレイアウト*/
    /*ここから_modalウィンドウのレイアウト*/
    .lightbox_map {
        display: none;
        padding: 0px;
        width:100%;
        height:100%;
    }
    .lightbox_ts {
        display: none;
        text-align:center;
        margin: 30px;
    }
    .lightbox_ts h2{
        font-size: 15px;
    }
    .lightbox_ts p{
        font-size: 10px;
        line-height: 20px;
    }

    .lightbox_its1 {
        display: none;
        margin: 30px;
        text-align: left;
    }

    .lightbox_its1 h2 {
        font-size: 15px;
    }
    .lightbox_its1 p {
        font-size: 10px;
        line-height: 20px;
    }
    .lightbox_its2 {
        display: none;
        padding: 10px;
    }
    .lightbox_its2 h2 {
        font-size: 15px;
    }
    .lightbox_its2 div{
        width:40%;
    }
    .lightbox_its2 p{
        text-align: center;
        float:right;
        width:60%;
        font-size: 9px;
        line-height:15px;
    }
    .lightbox_reg {
        display: none;
        padding: 10px;
    }
    .lightbox_reg h2 {
        font-size: 15px;
      }
    .lightbox_reg h3 {
        font-size: 14px;
      }
    .lightbox_reg p {
        font-size: 8px;
        line-height: 18px;
      }
    .lightbox_own {
        display: none;
        padding: 10px;
    }
    .lightbox_own h2 {
        font-size: 15px;
      }
    .lightbox_own h3 {
        font-size: 14px;
      }
    .lightbox_own p {
        font-size: 8px;
        line-height: 18px;
    }
    dl.taigu dt{
        font-size: 10px;
    }
    dl.taigu dd{
        white-space: nowrap;
        height:15px;
        font-size: 8px;
    }
    /*ここまで_modalウィンドウのレイアウト*/
}/*@media screen(max-width:770px)*/
/*スマホ用ここまで*/